body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; /* specify vertical direction */
}

#brandClock {
    margin-left: .5em;
}

#brandItem {
    font-family: 'Damion', cursive;
    font-size: 1.5rem;
}

main {
    flex: 1; /* main should take up all the space it can to push footer to bottom of page */
}