body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; /* specify vertical direction */
}

#brandClock {
    margin-left: .5em;
}

#brandItem {
    font-family: 'Damion', cursive;
    font-size: 1.5rem;
}

main {
    flex: 1; /* main should take up all the space it can to push footer to bottom of page */
}

#app {
    display: flex;
}

.timer-card {
    flex: 1;
    border: 1px solid red;
    height: 200px;
    margin: 1em 0;
}

.action-row {
    margin: 1rem 0;
}