body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; /* specify vertical direction */
}

#brandClock {
    margin-left: .5em;
}

#brandItem {
    font-family: 'Damion', cursive;
    font-size: 1.5rem;
}

main {
    flex: 1; /* main should take up all the space it can to push footer to bottom of page */
}

#app {
    display: flex;
}

.timer-card {
    flex: 1;
    height: 250px;
    min-width: 320px;
    max-width: 320px;
    padding: 15px;
}

.border:hover {
    border: 2px solid darkslategray;
}

.border {
    border-radius: 5%;
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
    -moz-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
}

.border-overlay {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    background-color: transparent;
}

.name-input {
    font-size: 1.3rem;
    margin: 15px 0 0 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    padding-left: 5px;
}

#timer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.close-icon {
    position: absolute;
    right: 0;
    top: 0;
    color: palevioletred;
    cursor: pointer;
}

.timer-name {
    padding: 14px 0 0 10px;
    font-size: 1.3rem;
    font-weight: 600;
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timer {
    text-align: center;
    height: 40%;
    border-top: 1px solid slategray;
    border-bottom: 1px solid slategray;
    font-size: 3rem;
    margin-top: 5%;
    padding-top: 2%;
}

.timer-controls {
    display: flex;
    align-items: center;
    height: 30%;
    justify-content: center;
}

.play-button {
    font-size: 2.3rem;
    cursor: pointer;
    color: #3ec46d;
    margin: 0 .5rem;
}

.play-button:hover {
    color: #3edf7d;
}

.reset-button {
    font-size: 2rem;
    cursor: pointer;
    color: #3273DC;
    margin: 0 .5rem;
}

.reset-button:hover {
    color: #3273FF
}

.action-row {
    margin: 1rem 0;
}

.hide {
    display: none !important;
}

.delete-button {
    position: absolute;
    right: -7px;
    top:-7px;
    color: red;
    font-size: 1.4rem;
    z-index: 11;
    cursor: pointer;
}

.delete-button:hover {
    color: #fc2666;
}

.delete-background {
    position: absolute;
    right: -7px;
    top:-7px;
    color: #fff;
    font-size: 1.4rem;
    z-index: 10;
    cursor: pointer;
}